* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
  font-size: large;
  box-sizing: border-box;
}

.inMyShoesCounter {
  font-size: xx-large;
}

.intro {
  font-size: medium;
}

.title {
  padding-left: 2%;
  font-size: x-large;
}

.header-button {
  font-size: medium;
  border-radius: 25px;
  margin-left: auto; /* Align to the right */
  background-color: #f0f0f0; 
  border-color: #030000;
  padding: 15px 30px;
}

.header-button-container {
  padding: 15px;
}

.header {
  background: #e9e7dc;
}

.header-line {
  /* Set the thickness of the line */
  height: 3px;

  /* Set the background color and adjust opacity */
  background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
  display: flex;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e9e7dc;
  flex-direction: column;
}

.scroll {
  position: relative;
  display: flex;
  width: 1400px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent)
}

.scroll div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time)*-1);

}

.scroll div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time)/-2);
}

@keyframes scroll {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-200%);
  }
}

.scroll div span {
  display: inline-flex;
  margin: 10px;
  letter-spacing: 0.2em;
  background: #ffffff;
  color: #030000;
  padding: 15px 30px;
  border-radius: 25px;
  border-color: rgb(255, 255, 255);
  transition: 0.5s;
}

.scroll div span:hover {
  background: #fcff5c;
  cursor: pointer;
}

.imgBox div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgBox img {
  max-width: 100px;
  scale: 0.8;
}