<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>InMyShoes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-payments.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-vendors.min.css"> -->
</head>

<body>
    <div style="text-align: center;">
        <br>
        <p>InMyShoes</p>
        <div class="slider-container">
            <!-- <div class="scroll" style="--time:20s">
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
            </div>
            <div class="scroll" style="--time:30s">
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
            </div>
            <div class="scroll" style="--time:25s">
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
            </div> -->
            <div class="scroll" style="--time:40s">
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
                <div>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>JavaScript</span>
                    <span>ReactJS</span>
                    <span>Figma</span>
                    <span>Photoshop</span>
                    <span>Premiere Pro</span>
                    <span>Figma</span>
                    <span>Angular</span>
                    <span>Node JS</span>
                </div>
            </div>
        </div>
        <!-- <script src="script.js"></script> -->
    </div>
</body>

</html>